<!DOCTYPE html>
<html>
<head>
    <title>Canteen Items</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css_js/item_list.css' %}">
    <script type="text/javascript" src="{% static 'css_js/item_list.js' %}"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="header">
        <div>
            <i class='bx bxs-user-circle' style="font-size:x-large;"></i>
            <span>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>
        </div>
        <h1>CANTEEN ITEMS</h1>
        <span>
            <a href="{% url 'logout' %}" class="logout">Logout
                <i class='bx bx-log-out'></i>
            </a>
        </span>
    </div>

    <div class="navigation">
        <ul>
            {% if user.is_admin %}
                <li><a href="{% url 'canteen_item_create' %}" class="add-item-admin-button">Add Item</a></li>
                <li><a href="{% url 'archived_items_list' %}" class="add-item-admin-button">Archived Items</a></li>
                <li><a href="{% url 'signup' %}" class="add-item-admin-button">New User</a></li>
                <li><a href="{% url 'qr_scan_recharge' %}" class="transaction-history-button">Recharge</a></li>
                <li><a href="{% url 'staff_list' %}" class="staff-list-button">Staff List</a></li>
                <li><a href="{% url 'student_list' %}" class="non-staff-list-button">User List</a></li>
                <li><a href="{% url 'previous_orders_list' %}" class="order-history-button">Order History</a></li>
                <li><a href="{% url 'transaction_list' %}" class="transaction-history-button">Transaction History</a></li>
                <span>
                    <a href="{% url 'cart_list' %}" class="view-cart-button">
                        Cart <i class='bx bx-cart'></i>
                    </a>
                </span>
            {% elif user.is_staff %}
                <li><a href="{% url 'qr_scan_recharge' %}" class="transaction-history-button">Recharge</a></li>
                <li><a href="{% url 'transaction_list' %}" class="transaction-history-button">Transaction History</a></li>
                <li><a href="{% url 'previous_orders_list' %}" class="order-history-button">Order History</a></li>
                <span>
                    <a href="{% url 'cart_list' %}" class="view-cart-button">
                        Cart <i class='bx bx-cart'></i>
                    </a>
                </span>
            {% else %}
                <li><a href="{% url 'qr_image' user.uuid %}" class="add-item-button">Show QR</a></li>
                <li><a href="#" class="balance-link" onclick="togglePopup()">Balance</a></li>
                <li><a href="{% url 'previous_orders_list' %}" class="add-item-button">Order History</a></li>
                <li><a href="{% url 'transaction_list' %}" class="transaction-history-button">Transaction History</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="search">
        <form method="GET" action="{% url 'canteen_item_list' %}">
            <input type="text" name="q" placeholder="Search..." id="searching" class="form-control">
            <input type="number" id="min_price" name="min_price" min="0" class="form-control" placeholder="Min Price">
            <input type="number" id="max_price" name="max_price" min="0" placeholder="Max Price" class="form-control">
            <select id="category" name="category" class="form-control">
                <option value="">All Categories</option>
                <option value="Food">Food</option>
                <option value="Snacks">Snacks</option>
                <option value="Beverage">Beverage</option>
            </select>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="food-lists">
        <div class="food-card">
            <div class="item">
                {% for item in items %}
                    <div class="item-card">
                        <div class="item-image-container">
                            {% load static %}
                            <img class="item-image"
                                src="{% if item.itemImage and item.itemImage.image %}{{ item.itemImage.image.url }}{% else %}{% static 'illustrations/foods.jpg' %}{% endif %}"
                                alt="{{ item.identity }}">
                        </div>
                        <div class="item-details">
                            <p class="item-identity">{{ item.identity|title }}</p>
                            <p class="item-price">₹. {{ item.price }}</p>
                            {% if user.is_admin %}
                                <p class="item-availability {% if item.availability %}available{% else %}unavailable{% endif %}">
                                    {{ item.category|title }} - {% if item.availability %}Available{% else %}Unavailable{% endif %}
                                </p>
                            {% endif %}
                            <div class="btn-group">
                                {% if user.is_admin or user.is_staff %}
                                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>

                                <div id="cart-popup" class="cart-popup" style="display:none;">
                                    Item added to cart!
                                </div>
                                <div class="quantity-form-group">
                                    <form action="{% url 'add_to_cart' %}" method="post" class="form-inline" target="hidden_iframe" onsubmit="showCartPopup()">
                                        {% csrf_token %}
                                        <input type="hidden" name="item_id" value="{{ item.id }}">
                                        <div class="form-group">
                                            <input type="number" name="quantity" value="1" min="1" class="quantity-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" title="Add to Cart">
                                                {% if user.is_staff and not user.is_admin %}
                                                    <i class='bx bx-cart'></i> Add to cart
                                                {% else %}
                                                    <i class='bx bx-cart'></i>
                                                {% endif %}
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if user.is_admin %}
                                <div class="admin-actions">
                                    <form action="{% url 'canteen_item_archive' item.id %}" method="post" class="form-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="item_id" value="{{ item.id }}">
                                        <button type="submit" class="btn btn-warning" title="Archive">
                                            <i class='bx bx-archive'></i>
                                        </button>
                                    </form>

                                    <form action="{% url 'canteen_item_edit' item.id %}" method="get" class="form-inline">
                                        <button type="submit" class="btn btn-info" title="Edit">
                                            <i class='bx bx-edit'></i>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Pagination controls -->
    <div class="pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page=1">&laquo; first</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% else %}
                <li class="disabled"><span>&laquo; first</span></li>
                <li class="disabled"><span>previous</span></li>
            {% endif %}

            <li class="active"><span>{{ page_obj.number }}</span></li>

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
            {% else %}
                <li class="disabled"><span>next</span></li>
                <li class="disabled"><span>last &raquo;</span></li>
            {% endif %}
        </ul>
    </div>

    <!-- Popup for balance -->
    <div class="popup" id="balance-popup" style="display:none;">
        <div class="popup-content">
            <span class="close-btn" onclick="togglePopup()">&times;</span>
            <h2>Your Balance</h2>
            <p>Balance: Rs. {{ user.balance }}</p>
        </div>
    </div>

    <!-- Popup for add to cart notification -->
    {% if messages %}
        <div id="cart-popup" class="cart-popup" style="display:none;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <script>
        // Function to toggle popup visibility
    function togglePopup() {
        var popup = document.getElementById("balance-popup");
        if (popup.style.display === "none") {
            popup.style.display = "block";
        } else {
            popup.style.display = "none";
        }
    }

    // Function to show cart popup for a few seconds
    function showCartPopup() {
        var cartPopup = document.getElementById("cart-popup");
        cartPopup.style.display = "block";
        setTimeout(function() {
            cartPopup.style.display = "none";
        }, 2000);
    }

    // Event listener for add to cart form submission
    // document.addEventListener("DOMContentLoaded", function() {
    //     var addToCartForms = document.querySelectorAll("form[action='{% url 'add_to_cart' %}']");
    //     addToCartForms.forEach(function(form) {
    //         form.addEventListener("submit", function(event) {
    //             event.preventDefault();
    //             var formData = new FormData(form);
    //             var quantity = formData.get("quantity");
    //             showCartPopup();
    //         });
    //     });
    // });

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
